extends ../layouts/main-layout.pug 

block style 
    link(rel="stylesheet", href="/css/forms.css")
    link(rel="stylesheet", href="/css/product.css")

block main
    main 
        form.product-form(action=editing ? "/admin/edit-product" : "/admin/add-product", method="post")
            div.form-control
                label(for="title") Title 
                input#title(type="text", name="title", value=editing ? prod.title : "")
            div.form-control
                label(for="imageUrl") Image URL 
                input#imageUrl(type="text", name="imageUrl", value=editing ? prod.imageUrl : "")
            div.form-control
                label(for="price") Price 
                input#price(type="number", name="price", step="0.01", value=editing ? prod.price : "")
            div.form-control
                label(for="description") Description 
                textarea#description(name="description", rows="5") #{ editing ? prod.description : "" }
            if editing
                input(type="hidden", name="productId", value=prod._id)
            +csrf-input(prod) 
            button.btn(type="submit") #{ editing ? "Update" : "Add" } Product