extends ../layouts/main-layout.pug 
include ../includes/add-to-cart

block style 
    link(rel="stylesheet", href="/css/product.css")

block main
    main 
        if prods.length > 0
            div.grid 
                each prod in prods 
                    article.card.product-item 
                        header.card__header 
                            h1.product__title #{prod.title}
                        div.card__image 
                            img(src=prod.imageUrl, 
                                alt=prod.title)
                        div.card__content 
                            h2.product__price #{prod.price}
                            p.product__description #{prod.description}
                        div.card__actions 
                            +add-to-cart(prod)
                            a.btn(href="/products/"+prod._id) See product
        else 
            <h1>No Products Found!