extends ../layouts/main-layout.pug 

block style 
    link(rel="stylesheet", href="/css/forms.css")
    link(rel="stylesheet", href="/css/auth.css")

block main
    main 
        if(errorMessage)
            div.user-message.user-message--error #{errorMessage}
        form.login-form(action="/signup", method="post") 
            .form-control 
                label(for="name") Name 
                input#name(type="name", name="name", value=oldInput.name, class=validationErrors.find(e => e === 'name') ? "invalid" : "")
            .form-control 
                label(for="email") E-Mail 
                input#email(type="email", name="email", value=oldInput.email, class=(validationErrors.find(e => e === 'email') ? "invalid" : ""))
            .form-control 
                label(for="password") Password
                input#password(type="password", name="password", value=oldInput.password, class=validationErrors.find(e => e === 'password') ? "invalid" : "")
            .form-control 
                label(for="confirmPassword") Confirm password 
                input#confirmPassword(type="password", name="confirmPassword", value=oldInput.confirmPassword, class=validationErrors.find(e => e === 'confirmPassword') ? "invalid" : "")
            +csrf-input(prod) 
            button.btn(type="submit") Signup